process {
    withLabel: 'orthofinder' {
        stageInMode = 'copy'
        container = 'quay.io/biocontainers/orthofinder:3.1.5--hdfd78af_0'
        cpus = 8
        memory = '40 GB'  
    }
}

process {
    withLabel: 'cluster_OG' {
        stageInMode = 'copy'
        container = 'quay.io/biocontainers/cd-hit:4.8.1--h5ca1c30_13'
        cpus = 8
        memory = '40 GB'  
    }
}