process {
    maxForks = 20
}

params {
    // Input and output parameters
    genome_extension = 'fa'
    min_completeness = 70
    max_contamination = 5
    input = null
    outdir = null

    // Database paths
    checkm2_db = '/share/cn1_fs/database/checkm2/CheckM2_database/uniref100.KO.1.dmnd'
    gtdbtk_db = '/share/cn1_fs/database/GTDB_R232/release232'
    bakta_db = '/share/data01/project/xujinxin/database/bakta/db-light'
    eggNOG_db = '/share/data01/project/xujinxin/database/eggNOG7'
    dbcan_db = '/share/data01/project/xujinxin/database/dbcan'
    card_db = '/share/data01/project/xujinxin/database/card'
    vf_db = '/share/data01/project/xujinxin/database/vfdb/VFDB_setA_pro.dmnd'

}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/share/data01/project/xujinxin/project/20260910_nextflow_v2/container'
}

includeConfig './modules/local/checkm2.config'
includeConfig './modules/local/skder.config'
includeConfig './modules/local/gtdbtk.config'
includeConfig './modules/local/pyrodigal.config'
includeConfig './modules/local/orthofinder.config'
includeConfig './modules/local/bakta.config'
includeConfig './modules/local/eggNOG.config'
includeConfig './modules/local/cazyme.config'
includeConfig './modules/local/card.config'
includeConfig './modules/local/vf.config'
includeConfig './modules/local/cgcfinder.config'